.dark-theme {
  background: $purple;
  color: #fff;
  a {
    color: #fff;
    &:hover {
      color: #d4d4d4;
    }
  }
}


.header {
  &__nav-list {
    display: flex;
  }
  &__nav-item {
    font-size: 1.2rem;
    margin-right: 1em;

    &--sub {
      font-size: 1rem;
    }
  }
}



.footer {
  &__nav-list {
    display: flex;
  }
  &__nav-item {
    font-size: 1.2rem;
    margin-right: 1em;

    &--sub {
      font-size: 1rem;
    }
  }
}